@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Niramit:ital,wght@0,300;0,500;0,700;1,300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Niramit', sans-serif;
    font-weight: 300;
    background-image: url(./image/pattern.jpg);
}

h1{
    font-family: 'Fredoka One', cursive;
}

.personal{
    display: inline-block;
    width: 30%;
    padding: 0px 20px;
}

.information{
    display: inline-block;
    position: absolute;
    top: 0;
    width: 50%;
    padding: 0px 20px;
    padding-bottom: 20px;
}

iframe {
    width: 70%;
}

.home{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
}